presentation/Batch_Monitor.png filter=lfs diff=lfs merge=lfs -text
presentation/create_json_files.png filter=lfs diff=lfs merge=lfs -text
presentation/help_typer.png filter=lfs diff=lfs merge=lfs -text
presentation/init-and-run_help.png filter=lfs diff=lfs merge=lfs -text
presentation/api_presentation.gif filter=lfs diff=lfs merge=lfs -text
presentation/solve_ex.gif filter=lfs diff=lfs merge=lfs -text
presentation/solve_help.png filter=lfs diff=lfs merge=lfs -text
presentation/view_ex.gif filter=lfs diff=lfs merge=lfs -text
resolution/resolution_with_library.ipynb filter=lfs diff=lfs merge=lfs -text
presentation/init_help.gif filter=lfs diff=lfs merge=lfs -text
